{% extends 'main/base.html' %}
{% load static %}

{% block title %}All Messages{% endblock %}

{% block content %}

<section class="container text-center f-ubuntu">
    <h1 class="display-4 m-4 f-jockey {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {%else %} lighttext {% endif %}">
        All Messages
    </h1>
    <div class="row row-cols-1 row-cols-md-2 justify-content-around">
        {% for msg in messages %}
        <div class="col col-md-5 d-flex flex-row shadow rounded-2 p-2 m-2 text-start {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} bg-dark text-light {%else %} bg-light text-dark {% endif %}">
            <div class="col-4">
                <img src="{% static 'images/profilepic.svg' %}" class="w-100 h-100 object-fit-fill {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} filter-light {%else %} filter-dark {% endif %}" />
            </div>
            <div class="col-8 p-2">
                <p class="fs-5 my-1">
                    {{msg.fname}} {{msg.lname}} 
                </p>
                <p class="my-0">
                    {{msg.message}} 
                </p>
                <p class="small my-0">
                    Sent at: {{msg.createdAt}} 
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}